{% block file_widget %}
{% spaceless %}
	{% set type = type|default('file') %}
	<div class="{{ horizontal_input_wrapper_class }}">
		{% if widget_addon_prepend|default(null) is not null %}
			{% set widget_addon = widget_addon_prepend %}
			{{ block('widget_addon') }}
		{% endif %}
		<input type="{{ type }}" {{ block('widget_attributes') }}/>
		{% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
			{% if widget_addon_append|default(null) is not null %}
				{% set widget_addon = widget_addon_append %}
				{{ block('widget_addon') }}
			{% endif %}
		{% endif %}
	</div>
	{% if file_path is defined and file_path != '' %}
	<script type="text/javascript">
		// prevent js error if element is not present
		if(jQuery('#{{ id }}').length > 0) {
			jQuery('#{{ id }}').fileinput( {
				'initialPreview' : '<img src="{{ file_path }}" style="width:200px" />',
				'showUpload':false,
				'previewFileType':'any'
			});
		}
	</script>
	{% endif %}
{% endspaceless %}
{% endblock file_widget %}